
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@model List<backend_web_dev_assignment3.Models.Teacher>

@{
    ViewBag.Title = "Teachers List";
}

<div class="moveRight">
    <span>To Add a New Teacher</span>
    <a href="/Teacher/New" class="button">Click</a>
</div>

<div class="container">
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="name" placeholder="Enter name of teacher" />
        <input type="submit" value="Search" class="button" />
    </form>
    @foreach (var teacher in Model)
    {
        <div class="row">
            <div>
                <a href="/Teacher/Show/@teacher.teacherid">@teacher.teacherfname @teacher.teacherlname</a>
            </div>
        </div>
    }
</div>

