
@{
    ViewBag.Title = "Teachers";
}

<div>
    <form action="/Teacher/Search" method="GET">
        <div class="labelWithInput">
            <label for="name" class="propertyName">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter first name of a teacher" />
        </div>

        <div class="labelWithInput">
            <label for="hireDate" class="propertyName">Hire Date</label>
            <input type="date" name="hireDate" id="hireDate" value="" placeholder="Enter hire date" />
        </div>

        <div class="labelWithInput">
            <label for="salary" class="propertyName">Salary</label>
            <input type="text" name="salary" id="salary" value="" placeholder="Enter salary" pattern="^\d+(\.\d{0,2})?$" />
        </div>

        <button type="submit" class="button">Search</button>
    </form>
</div>

<div class="moveRight">
    <span>To See All Teachers</span>
    <a href="/Teacher/List" class="button">Click</a>
</div>