@model backend_web_dev_assignment3.Models.Teacher

@{
    ViewBag.Title = "Teacher Details";
}

<h2>Teacher Details for teacher id - @Model.teacherid</h2>
<p>@Model.teacherfname @Model.teacherfname</p>

